<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initail-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Miss 小店</title>
    <link rel="icon" href="http://oiq00n80p.bkt.clouddn.com/favicons_2_16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="http://oiq00n80p.bkt.clouddn.com/favicons_2_32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="http://oiq00n80p.bkt.clouddn.com/favicons_2_48.png" sizes="48x48" type="image/png">
    <style>*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}html{height:100%}body{box-sizing:border-box;min-height:100%;margin:0}ul,ol{margin-top:0;margin-bottom:0}.container{word-wrap:break-word;word-break:break-all}.container .image-link{text-decoration:none;display:block}.container .image-link .image{width:100%}.container .image-title{padding:16px 22px 21px 16px;font-size:24px;color:#000;letter-spacing:0;line-height:38px;text-align:left}.container .content-wrap{padding:0 16px 21px;word-wrap:break-word;font-size:14px;color:#323232;letter-spacing:0;line-height:26px;text-align:left}.container .content-wrap table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;margin:15px 0}.container .content-wrap table thead{background-color:#f9f9f9}.container .content-wrap table td,.container .content-wrap table th{min-width:40px;height:30px;border:1px solid #ccc;vertical-align:top;padding:2px 4px;text-align:left;box-sizing:border-box}
    </style>
  </head>
  <body class="html-body">
    <div id="root" class="container">
      <div class="header">
        <a class="image-link" href="http://oi8brjpnx.bkt.clouddn.com/587b3371ff088bac5f04ddbe.jpg">
          <img class="image" src="http://oi8brjpnx.bkt.clouddn.com/587b3371ff088bac5f04ddbe.jpg" title="587b3371ff088bac5f04ddbe.jpg"/>
        </a>
      </div>
      <div class="image-title"></div>
      <div class="content-wrap"><p><span style="font-size: 1.5em;">sadsa</span></p><p><span style="font-size: 1.5em;">fdsafds</span></p><ol><li><font color="#e33737">dsfdsfa</font></li><li><span style="color: rgb(200, 167, 50);">dsafdsafd</span><br></li><li><span style="color: rgb(200, 167, 50);"><b>safdsaf<i>dsaf<u>dsaf<strike>234dsfdsf</strike></u></i></b></span></li></ol><p><font color="#c8a732"><b><i><u><strike><br></strike></u></i></b></font></p><ul><li><font color="#c8a732"><b><i><u><strike>dsafdsaf</strike></u></i></b></font></li><li><font color="#c8a732"><b><i><u><strike>dsafdsafdsaf<br></strike></u></i></b></font></li></ul><p><font color="#c8a732"><b><i><u><strike><br></strike></u></i></b></font></p><table><colgroup><col width="49.85422740524781%"><col width="50.14577259475219%"></colgroup><thead><tr><th>dsafdsa</th><th>dsaf</th></tr></thead><tbody><tr><td>dsafd</td><td>dsagdf</td></tr></tbody></table></div>
    </div>
  </body>
</html>
